/* CSS For Dashboard */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #CCFBF1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ensure body fills the viewport height */
}

/* Nav Styles */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #99F6E4;
    color: white;
}

.links a {
    margin-right: 16px;
    color: white;
    text-decoration: none;
}

.links a:hover {
    text-decoration: wavy;
    color: blue;
}

/* Button styling */
.btn-primary {
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: red;
}

/* Hero Styling */
.hero-section {
    padding: 32px;
    background-color: #0D9488;
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
}

.hero-subtitle {
    font-size: 18px;
}

/* Main styling */
.main-content {
    flex: 1;  
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    padding: 20px;
    margin-top: 10px;
}

.welcome-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 10px;
}

.welcome-card h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.welcome-card p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.welcome-card ul {
    padding: 0;
}

.welcome-card ul li {
    margin: 10px 0;
    margin-left: 12px;
}

.welcome-card ul li a {
    color: black;
    text-decoration: none;
}

.welcome-card ul li a:hover {
    text-decoration: wavy;
    color: blue;
}

/* Footer styles */
footer {
    background-color: #99F6E4;
    color: black;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: purple;
    color: white;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  thead th {
    background-color: #6a0dad;
    color: white;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .view-btn i {
    color: #4caf50;
  }
  
  .edit-btn i {
    color: #2196f3;
  }
  
  .delete-btn i {
    color: #f44336;
  }
  