/* CSS For home.css */
html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #CCFBF1;
    font-family: Arial, sans-serif;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    height: 900px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    flex-grow: 1;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Sidebar */
aside {
    width: 12%;
    height: 950px;
    background-color: #fff;
    padding: 0;
    margin-right: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.sidebar-top {
    background-color: #9CA3AF;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.sidebar-bot {
    background-color: #9CA3AF;
    height: 35px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 1rem;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.location-link {
    color: black;
    font-size: large;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    width: 100%;
    line-height: 16.5px;
    /* Space inbetween each suburb */
}

aside ul a {
    color: gray;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s;
}

aside ul a:hover {
    text-decoration: wavy;
    color: blue;
}

/* Property grid */
.property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}

.property-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #374151;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    height: 310px;
}

.property-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.property-card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.property-card .address {
    margin-top: 15px;
    height: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    text-overflow: initial;
}

.property-card .price {
    height: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 15px;
}

/* Footer styling */
footer {
    padding: 20px;
    background-color: #83e6d9;
    color: black;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    aside {
        width: 15%;
    }
}

@media screen and (max-width: 768px) {
    aside {
        width: 25%;
        margin-right: 0;
        margin-bottom: 24px;
    }

    main {
        max-width: 90%;
    }

    .property-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    aside {
        width: 35%;
    }

    .property-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 480px) {
    footer {
        padding: 10px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    aside {
        width: 20%;
    }

    .property-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 400px) {
    footer {
        padding: 10px;
        font-size: 0.8rem;
    }
}

/* Property Grid Responsive Styling */

@media screen and (min-width: 600px) {
    .property-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 700px) {
    .property-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 800px) {
    .property-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .property-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .property-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}