<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/output.css" />
    <title>Dashboard</title>
  </head>
  <body>

    <header>
      <nav class="flex justify-between p-4 bg-blue-500 text-white">
        <a href="/">Home</a>
        <a href="/login" class="btn btn-primary">Logout</a>
      </nav>
    </header>

    <main class="dashboard p-8">
      <h2 class="text-3xl font-bold">Dashboard</h2>
      <p>Welcome to the dashboard</p>
    </main>

    <footer class="p-4 bg-blue-500 text-white">
      &copy; 2024 Real Estate Listings | Martyn James Orchard | 21356032
    </footer>
  </body>
</html>