<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/output.css">
  <title>Login</title>
</head>

<body>

  <main class="login-form max-w-xl w-full mx-auto mt-10 p-4 border rounded shadow-lg bg-white">
    {{#if error}}
    <div class="text-red-500 mb-4">{{error}}</div> <!-- Invalid Credentials Error Message at top of from !-->
    {{/if}}

    <!-- Username Section !-->
    <form action="/login" method="POST" class="w-full p-2">
      <div class="mb-4">
        <label for="username" class="block font-bold text-xl">Username:</label>
        <br>
        <input type="text" id="username" name="username" class="w-full p-2 border" placeholder="Username" />
      </div>

      <!-- Password Section !-->
      <div class="mb-4">
        <label for="password" class="block font-bold text-xl">Password:</label>
        <br>
        <input type="password" name="password" id="password" placeholder="*************" class="w-full p-2 border" />
      </div>

      <br>

      <!-- Submit Button !-->
      <button type="submit" class="w-1/4 bg-teal-500 text-white py-2 font-bold text-xl rounded">Sign In</button>
    </form>
  </main>

  <br>

</body>

</html>