<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/prop.css" />
  <title>Dashboard</title>
</head>

<body>
  <header>
    <nav class="nav-bar">
      <div class="links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
      </div>
      <a href="/login" class="btn-primary">Logout</a>
    </nav>
  </header>

  <section class="hero-section">
    <h1 class="hero-title">Dashboard</h1>
    <p class="hero-subtitle">Manage Your properties here!</p>
  </section>

  <main class="main-content">
    <div class="welcome-card">
      <h2>Below are your properties that can be managed</h2>
      <p>Manage your properties and account</p>

    </div>
  </main>

  <footer>
    <p>© 2024 Real Estate Listings, All rights reserved.</p>
  </footer>
</body>

</html>