<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
  <title>{{title}}</title>
</head>
<body>
    <header>
        <nav class="flex justify-between p-4 bg-blue-500 text-white">
            <a href="/">Home</a>
            <a href="/login" class="btn btn-primary">login</a>
        </nav>
    </header>

  <main>
    {{{ body }}}  <!-- This will include the content of each page -->
  </main>

  <footer>
    <footer class="p-4 bg-blue-500 text-white">&copy; 2024 Real Estate Listings | Martyn James Orchard | 21356032</footer>
  </footer>
</body>
</html>
