<h1>{{title}}</h1>
<form action="/dash">
    <input type="text" name="name" placeholder="Add a property">
    <input type="text" name="Suburb" placeholder="Add a suburb">
    <button type="submit">Submit Property</button>
</form>