<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/create.css">
  <title>Add New Property</title>
</head>

<body>
  {{!-- NEEDS STYLE FOR FORM --}}
<main class="main-content">
  <div class="card">
    <h2>Add New Property</h2>
    <form action="/properties/add" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" required>
      </div>
      
      <div class="form-group">
        <label for="list_price">List Price</label>
        <input type="number" id="list_price" name="list_price" required step="1000">
      </div>

      <div class="form-group">
        <label for="suburb">Suburb</label>
        <input type="text" id="suburb" name="suburb" required>
      </div>

      <div class="form-group">
        <label for="image">Upload Image</label>
        <input type="file" id="image" name="image">
      </div>

      <button type="submit" class="btn-primary">Update Property</button>
    </form>
  </div>
</main>


</body>

</html>
